:root {
  --primary: hsl(217, 99%, 26%);
  --gray: hsl(217, 11%, 64%);
  --white: hsl(216, 100%, 95%);
  --highlight: rgba(251, 255, 38, 0.493);
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  'header header header'
  'nav main .'
  'footer footer footer';
  grid-template-columns: 300px 1fr;
}

.header {
  background-color: var(--primary);
  color: var(--white);
  display: grid;
  grid-area: header;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.header__title {
  font-size: 3rem;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.nav {
  height: 100px;
  justify-content: center;
}

.nav__container {
  box-shadow: var(--gray) 4px 4px 10px 2px;
  display: grid;
  row-gap: 24px;
  grid-area: nav;
  justify-items: center;
  padding: 12px 0 24px;
  margin: 30px;
}

.nav__link, .nav__link--active {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.nav__link::after, .nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  border-bottom: var(--primary) 1px solid;
  width: 180px;
}

.nav__link--active {
  box-shadow: inset var(--highlight) 200px 0px 0px 1px;
  padding: 0 70px;
}



.img_card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-rows: 350px;
  row-gap: 20px;
  margin: 30px;
}

.img_card {
  width: 300px;
  box-shadow: var(--gray) 4px 4px 10px 2px;
  border-radius: 3px;
  display: grid;
  align-self: center;
  justify-self: center;
}

.img_card__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.img_card__text {
  padding: 0 12px;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: footer;
}

@media screen and (max-width: 1100px) {
  body {
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'footer';
    grid-template-columns: 1fr;
  }

  .header {
    grid-area: header;
  }
  
  .header__title {
    font-size: 2rem;
  }

  .nav__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    grid-area: nav;
  }

  .nav__link, .nav__link--active {
    text-decoration: underline;
  }
  .nav__link--active {
    padding: 0;
  }
  .nav__link::after, .nav__link--active::after {
    display: none;
  }

  .img_card__container {
    width: 100%;
    justify-self: center;
    height: max-content;
    margin-top: 50px;
  }

  .footer {
    grid-area: footer;
  }
}